<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
</head>
<h1>Todo List</h1>
{% if items %}
<body>
<table border="1" style="width:800px">
<a href="/create/">Create_todo</a>
    <tr>
        <th>To do</th>
        <th>Author</th>
        <th>Date Created</th>
        <th>Completed</th>
    </tr>
    {% for item in items %}

    <tr>
        <td> {{ item.content }}</td>
        <td> {{ item.author }}</td>
        <td> {{ item.date_created }}</td>
        <td>
            {% if item.completed %}
            Done - <a href="/mark/{{item.id}}/undone">mark as undone</a>
            <a href="/delete{{item.id}}/">delete</a>
            {% else %}
            Undone - <a href="/mark/{{ item.id }}/done/">mark as done</a>
            <a href="/delete{{item.id}}/">delete</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
<a href="/delete_all/">Delete_all</a>
</body>
{% else %}
    <p>There are no items in todo list</p>
    <a href="/create_new/">Click here to add a new todo list</a>
{% endif %}
</html>

